.img-detalhes{
    width: 102% !important;
    height: 600px !important;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(30%);
}

.cabecalho{
    position: relative;
}

.detalhes{
    position: absolute;
    top: 0%;
    width:100%;
    height: 100%;
    color: #FFF;
}

.detalhes h1{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
}

.descricao {
    margin-top: 20%;
    margin-left: 10%;
    text-align: left;
    width: 500px;

}

.meta-data-icon-label{
    color: white;
    float: left;
    width: 100%;
    margin-top: 2%;
    margin-left: 10%;
}
.meta-data-icon-label a{
    color: white;
    font-weight: bold;
}
.icon-wrapper{
    float: left;
    background-color: #141414;
    margin-left: 0px;
    margin-right: 10px;
}

.label{
    float: left;
}

.my-btn{
    width: 250px;
    margin-top: 50px;
    margin-left: 10%;
    padding: 5px;
}

@media screen and (max-width: 600px) {
	.img-detalhes{
        width: 102% !important;
        height: 250px !important;
        object-fit: cover;
        filter: brightness(30%);
    }

    .detalhes h1{
        font-size: 25px;
        margin-top: 5%;
        margin-left: 7%;
        float: left;
    }
    
    .descricao {
        margin-top: 25%;
        margin-left: 7%;
        font-size: 12px;
        text-align: left;

    }
}