
.content{
    width: 100%;
}

.bg-black{
        background-color: #000;
}

.bg-black-14{
        background-color: #141414;
}

.border-search{
    border: 0;
}

.border-search:focus{
    outline:none;
    color: #fff;
}

.image-user{
    width: 35px;
}

.img-play{
    width: 50%
}

a:hover{
    color: aqua; 
}

.modal {
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}